* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: black;
}

.container {
  color: aliceblue;
  background-color: black;
  position: relative;
  font-family: Montserrat, sans-serif !important;
}

.navbar {
  margin-left: 6rem;
  margin-top: 4rem;
  width: 50rem;
}

.navbar p{
  font-weight: 500;
  letter-spacing: 0.5rem;
}

h1{
  font-family: Montserrat, sans-serif !important;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  text-align: left;
}

.main{
  margin: 3rem 0 0 6rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  line-height: 1rem;
  
}

p{
  margin-top: 2rem;
}

article {
  width: 50%;
  letter-spacing: 0.28rem;
  border: orange solid;
  text-align: center;
  padding-top: 2rem;
}

img {
  width: 50%; 
}

footer{
  margin: 7rem 15rem 0 6rem;
  background-color: rgb(236, 224, 224);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 17%;
  height: 4rem;
}

a {
  margin-top: 1rem;
  text-decoration: none;
  background-color: rgb(236, 224, 224);
  color: black;
  font-family: Montserrat;
  letter-spacing: 0.6rem;
  font-weight: 900;
  font-size: 1.5rem;
}